/* Quitar los espacios internos y externos
que viene por defecto */
*{
    margin: 0;
    padding: 0;
}

.seccion{
    border: 1px solid green;

    /* Aplica un espacio externo 
    en los cuatro lados ya que solo se 
    esta proporcionando un solo valor; */
    margin: 20px;
}

.seccion-dos{
    border: 1px solid red;

    /* Aplica un espacio externo (60px) en los lados de arriba y abajo
    (100px) en los extremos, es decir los lados de la derecha e izquierda */
    margin: 60px 100px;
}

.seccion-tres{
    border: 1px solid blue;

    margin: 50px 40px 60px;
}

.seccion-cuatro{
    border: 1px solid black;

    margin: 40px 50px 30px 100px;
}

.footer{
    border: 1px solid orange;

    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.descripcion{

}